@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.toBeContinued--colorScheme {
  transition: all 0.5s ease;
  filter: sepia(1) hue-rotate(45deg);
  overflow: hidden;
}

.toBeContinued__arrow {
  display: inline-flex;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  width: 30vw;
  animation: flyIn 0.5s forwards ease-in;
  transform: translateX(100%);
}
/*
 *adjust for different devices
 */
@media screen and (min-width: 1440px) {
  .toBeContinued__arrow {
    width: 20vw;
  }
}
@media screen and (max-width: 1000px) {
  .toBeContinued__arrow {
    width: 40vw;
  }
}
@media screen and (max-width: 425px) {
  .toBeContinued__arrow {
    width: 50vw;
  }
}
/*
 *
 */
.toBeContinued__arrow--out {
  animation: flyOut 0.5s forwards ease-out;
}

.toBeContinued__arrow svg text {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

/*
 *simple arrow animation
 */

@keyframes flyIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
