@font-face {
  font-family: 'Clarendon';
  src: url('https://res.cloudinary.com/bolotskydev/raw/upload/v1568286768/meme-events/clarendon.otf')
    format('opentype');
}

.credits--active {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.credits__backdrop {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.credits__backdrop h1 {
  color: white;
  font-family: 'Clarendon', serif;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  letter-spacing: 2px;
}

.credits__backdrop p {
  font-family: 'Clarendon', serif;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
}

/*
 *adjust font size for devices under 425px wide 
 */
@media screen and (max-width: 424px) {
  .credits__backdrop h1,
  .credits__backdrop p {
    font-size: 1.5rem;
  }
}
